
scipy==1.17.0
requests==2.32.5
beautifulsoup4==4.14.3
selenium==4.27.1
webdriver-manager==4.0.2
pandas==2.2.0
openpyxl==3.1.2

#Conexión con python
psycopg2==2.9.11
SQLAlchemy==2.0.48

playwright==1.58.0
